body {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #eeeeee;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, .5);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  background-color: #ffffff;
}

.main-navigation {
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.navigation-menu {
  margin: 0;
  padding: 0;
}

.navigation-menu {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.navigation-menu-item,
.navigation-menu-item-current {
  flex: 0 0 20%;
}

.navigation-menu-item:nth-child(4n + 1),
.navigation-menu-item:nth-child(4n + 2) {
  text-align: left;
}

.navigation-menu-item:nth-child(4n + 3),
.navigation-menu-item:nth-child(4n + 4) {
  text-align: right;
}

.navigation-menu-item:nth-child(4n + 1) {
  margin-left: 6%;
}

.navigation-menu-item:nth-child(4n - 2) {
  margin-right: 8%;
}

.navigation-menu-item:nth-child(4n + 4) {
  margin-right: 6%;
}

.footer-social-icons {
  list-style: none;
}

.navigation-menu a {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.navigation-menu a:hover {
  color: #81b3d2;
}

.navigation-menu a:active {
  opacity: 0.3;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0px 0px 0px 0px);
  overflow: hidden;
}

.introduction-sedona {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.introduction-sedona h3 {
  margin: 0;
  padding: 0;
  margin-top: 61px;
  margin-bottom: 27px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.introduction-sedona p {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.welcome-sedona {
  width: 100%;
  height: 508px;
  background-image: url('../img/index_bottom_plank_to_background_image.png'), url('../img/index_welcome_background.jpeg');
  background-repeat: no-repeat, no-repeat;
  background-position: 49% 100%, 0 29%;
  background-size: contain, cover;
}

.sedona-inscription {
  padding: 75px 370px;
}

.features {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: center;
}

.feature {
  flex: 1 1 21.33%;
  padding: 47px 6% 32px;
  margin: 0;
}

.feature-pictured-numbered {
  position: relative;
  flex-basis: 88.33%;
  overflow: hidden;
  color: white;
  background-color: #81b3d2;
}

.feature-pictured-numbered span::before {
  content: "- ";
}

.feature-pictured-numbered span::after {
  content: " -";
}

.feature.feature-pictured-numbered img {
  position: absolute;
  top: 49%;
  width: 66.67%;
  transform: translateY(-50%);
  object-fit: cover;
}

.feature.feature-pictured-numbered figcaption {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 23px;
}

.feature.feature-pictured-numbered span,
.feature.feature-pictured-numbered p {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.feature.feature-pictured-numbered p {
  width: 280px;
  margin-left: -17px;
  margin-bottom: 28px;
}

.pictured-right {
  padding-right: 72.67%;
}

.pictured-right img {
  right: 0;
}

.pictured-left {
  padding-left: 72.67%;
}

.pictured-left img {
  left: 0;
}

.feature-iconed {
  width: 33.3%;
  padding: 50px 48px 30px;
  background-color: #ffffff;
}

.feature-iconed figcaption {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 22px;
}

.feature.feature-iconed.home figcaption::before {
  display: block;
  content: "";
  height: 76px;
  width: 75px;
  background: url(../img/icon-1.svg) no-repeat;
  margin: 11px auto 26px;
}

.feature.feature-iconed.food figcaption::before {
  display: block;
  content: "";
  height: 76px;
  width: 75px;
  background: url(../img/icon-3.svg) no-repeat;
  margin: 11px auto 26px;
}

.feature.feature-iconed.souvenirs figcaption::before {
  display: block;
  content: "";
  height: 76px;
  width: 75px;
  background: url(../img/icon-2.svg) no-repeat center;
  margin: 7px auto 30px;
}

.feature-iconed p {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 51px;
}

.feature-unpictured-numbered {
  padding: 47px 60px 40px;
  background-color: #eeeeee;
}

.feature-unpictured-numbered span::before {
  content: "- ";
}

.feature-unpictured-numbered span::after {
  content: " -";
}

.feature-unpictured-numbered figcaption {
  margin-bottom: 22px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.feature-unpictured-numbered p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 18px;
}

.feature-unpictured-numbered span {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 21px;
}

.booking {
  width: 100%;
  background-color: #ffffff;
}

.booking-wrapper {
  box-sizing: border-box;
  width: 574px;
  margin: 0 auto;
  padding: 52px 20px 45px;
  text-align: center;
}

.booking-wrapper h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 36px;
}

.booking p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search-hotels-button {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 33px 140px 28px 140px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  cursor: pointer;
}

.search-hotels-button:hover {
  background-color: #604e43;
}

.search-hotels-button:focus {
  color: #928a85;
  background-color: #503e33;
}

.booking-box {
  box-sizing: border-box;
  position: absolute;
  width: 568px;
  padding: 55px 55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, .5)
}

.booking-box-hide {
  display: none;
}

.booking-box-show {
  display: none;
}

.booking-box-bounce {
  animation-name: bounce;
  animation-duration: 0.8s;
}

.booking-box-error {
  animation-name: shake;
  animation-duration: 0.8s;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.booking-item-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-weight: 700;
  border: none;
  flex-wrap: nowrap;
  margin-bottom: 29px;
}

.booking-item-date input {
  width: 60%;
  padding: 7px 50px 5px 15px;
  margin: 0;
  font: inherit;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: left;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: none;
}

.booking-item-date input::-moz-placeholder,
.booking-item-date input::-webkit-input-placeholder,
.booking-item-date input::-ms-input-placeholder,
.booking-item-date input:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.booking-item-date label {
  width: 28%;
}

.calendar-button {
  width: 20px;
  height: 25px;
  padding: 18px 19px;
  background-color: #f2f2f2;
  background-image: url('../img/calendar.svg');
  background-repeat: no-repeat;
  background-size: 22px 25px;
  background-position: center;
  color: #000000;
  opacity: 0.6;
  border: 1px solid #f2f2f2;
}

.calendar-button:hover {
  color: #000000;
  opacity: 1;
}

.calendar-button:focus {
  color: #81b3d2;
  outline: none;
}

.booking-item-number-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 33px;
}

.booking-item-number {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-weight: 700;
  border: none;
  flex-wrap: nowrap;
}

.booking-item-number:nth-child(2) {
  margin-left: 30px;
}

.booking-item-number input {
  width: 34px;
  padding: 6px 0px 8px 14px;
  margin: 0;
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.booking-box input:hover {
  background-color: #ebebeb;
}

.booking-box input:focus {
  background-color: transparent;
  border: 2px solid #ebebeb;
}

.booking-item-date label {
  width: 28%;
}

.booking-box .booking-button {
  display: inline-block;
  padding: 16px 198px 16px 194px;
  margin: 0 auto;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.booking-box .booking-button:hover {
  width: 100%;
  background-color: #669ec0;
}

.booking-box .booking-button:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-plus,
.button-minus {
  width: 33px;
  padding: 8px 1px 6px 2px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
  background-color: #f2f2f2;
}

.button-minus {
  margin-left: 42px;
}

.button-plus:hover,
.button-minus:hover {
  color: #000000;
  opacity: 1;
}

.button-plus:focus,
.button-minus:focus {
  color: #81b3d2;
}

.map img {
  height: 592px;
  border: none;
}

.map iframe {
  position: absolute;
  border: none;
}

.main-footer {
  position: relative;
  bottom: 128px;
  margin: 0 auto;
  padding: 26px 6%;
  background-color: rgba(255, 255, 255, .9);
}

.footer-wrapper {
  display: flex;
  width: 91%;
  padding: 0 6%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 155px;
}

.footer-social ul {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0 15px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 47px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-icon:hover {
  background-color: #669ec0;
}

.social-icon:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-icon:focus path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.html-logo {
  width: 120px;
  height: 40px;
  color: #000000;
}

.html-logo:hover path {
  fill: #88b6d1;
}

.html-logo:focus path {
  fill: #000000;
  opacity: 0.3;
}


/* страница с гостиницами */

.navigation-menu-item-current {
  text-align: right;
}

.navigation-menu-item-current a {
  color: #766357;
}

.filters {
  width: 100%;
  height: 217px;
  background-image: url('../img/hotel_background_image.jpg');
  background-repeat: no-repeat;
  background-position: 0 20%;
}

.filters-wrapper {
  height: 160px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 28px 6%;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 123px;
}

.filter legend {
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.filter ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
  color: #ffffff;
}

.filter-option {
  align-self: flex-start;
  padding-left: 22px;
  margin-bottom: 24px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding-left: 17px;
}

.filter-input-checkbox[type=checkbox]+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -23px;
  width: 24px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 24px 24px;
}

.filter-input-checkbox[type=checkbox]:checked+label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -22px;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 23px 23px;
}

.filter-input-checkbox:disabled+label {
  color: #6a6a6a;
}

.filter-input-checkbox:disabled:checked+label {
  color: #6a6a6a;
}

.filter-range {
  width: 330px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 228px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.search-sorting {
  display: flex;
  width: 100%;
  height: 66px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 12px 6% 7px 6%;
  border-bottom: 2px solid #eeeeee;
}

.search-sorting ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-sorting li {
  margin-right: 30px;
}

.search-sorting span {
  margin-right: 46px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.search-sorting p {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 45px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.search-sorting-option a {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  border-bottom: 1px dashed #000000;
}

.search-sorting-option a:hover {
  color: #81b3d2;
}

.search-sorting-option a:focus {
  color: #000000;
  opacity: 1;
  border-bottom: none;
}

.search-sorting-option-current {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  border-bottom: none;
}

.arrows {
  display: flex;
  justify-content: space-between;
  margin-left: 479px;
  width: 33px;
}

.arrow {
  color: #000000;
  opacity: 0.3;
}

.arrow-up:hover,
.arrow-down:hover {
  color: #81b3d2;
}

.arrow-up:focus,
.arrow-down:focus {
  color: #000000;
  opacity: 1;
}

.arrow-down:hover path {
  fill: #81b3d2;
}

.arrow-down:focus path {
  fill: #000000;
}

.hotels .hotel {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px 6% 29px 6%;
  ;
  border-bottom: 2px solid #eeeeee;
}

.hotels .hotel:first-child {
  border-top: 2px solid #ffffff;
}

.hotels .hotel-photo {
  flex: 0 0 135px;
  margin: 0;
  margin-right: 30px;
}

.hotel-photo img {
  display: block;
}

.hotels .hotel-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-start;
  flex: 1 1 auto;
  margin-right: 30px;
  margin-top: -3px;
}

.hotel-info a {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotel-info a:hover {
  color: #81b3d2;
}

.hotel-info a:active {
  opacity: 0.3;
}

.hotels .hotel-details {
  display: flex;
}

.hotel-actions {
  display: flex;
  align-items: center;
}

.hotel-actions .button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.button.button-details {
  text-align: center;
  vertical-align: middle;
  padding: 3px 16px;
  margin-right: 8px;
  background-color: #81b3d2;
  color: #ffffff;
}

.button.button-details:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.button.button-details:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.button.button-book {
  padding: 3px 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
}

.button.button-book:hover {
  color: #ffffff;
  background-color: #604e43;
}

.button.button-book:focus {
  color: #928a85;
  background-color: #503e33;
}

.hotel-type,
.hotel-price {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.type-hotel {
  margin-right: 37px;
}

.type-motel {
  margin-right: 65px;
}

.type-aparts {
  margin-right: 21px;
}

.hotels .hotel-rating {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 0 0 135px;
}

.hotels .stars,
.hotels .score {
  text-align: right;
}

.hotel-rating .hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.stars {
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

.star {
  background-image: url('../img/star.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-top: -1px;
}

.hotels .score {
  width: 100px;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
  align-self: flex-end;
  text-align: center;
}

.inner-footer {
  position: static;
  margin: 0 auto;
  padding: 26px 6%;
  background-color: #ffffff;
}
